Source: ignition-gui7
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libignition-cmake2-dev (>= 2.8.0),
               libignition-common5-events-dev,
               libignition-common5-profiler-dev,
               libignition-math7-dev,
               libignition-msgs9-dev,
               libignition-plugin2-dev,
               libignition-rendering7-ogre1-dev,
               libignition-tools-dev,
               libignition-transport12-dev,
               libignition-utils2-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libtinyxml2-dev,
               pkg-config,
               qml-module-qt-labs-folderlistmodel,
               qml-module-qt-labs-platform,
               qml-module-qt-labs-settings,
               qml-module-qtcharts,
               qml-module-qtgraphicaleffects,
               qml-module-qtqml-models2,
               qml-module-qtquick-controls,
               qml-module-qtquick-controls2,
               qml-module-qtquick-dialogs,
               qml-module-qtquick-layouts,
               qml-module-qtquick-templates2,
               qml-module-qtquick-window2,
               qml-module-qtquick2,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev
Vcs-Browser: https://github.com/ignitionrobotics/ignition-gui
Vcs-Git: https://github.com/ignition-release/ign-gui7-release
Standards-Version: 4.5.1
Homepage: http://ignitionrobotics.org/

Package: libignition-gui7
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Gui classes and functions for robot apps - Shared library
 Ignition Gui is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the main libraries

Package: libignition-gui7-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common5-events-dev,
         libignition-common5-profiler-dev,
         libignition-gui7 (= ${binary:Version}),
         libignition-math7-dev,
         libignition-msgs9-dev,
         libignition-plugin2-dev,
         libignition-rendering7-ogre1-dev,
         libignition-tools-dev,
         libignition-transport12-dev,
         libignition-utils2-dev,
         libprotobuf-dev,
         libprotoc-dev,
         libtinyxml2-dev,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtcharts,
         qml-module-qtgraphicaleffects,
         qml-module-qtqml-models2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-dialogs,
         qml-module-qtquick-layouts,
         qml-module-qtquick-templates2,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         qtbase5-dev,
         qtdeclarative5-dev,
         qtquickcontrols2-5-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Gui classes and functions for robot apps - Development files
 Ignition Gui is a component in the ignition framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package for development libraries and headers.
