Source: gz-gui7
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               debhelper (>= 11),
               doxygen,
               libignition-cmake3-dev,
               libignition-common5-events-dev,
               libignition-common5-profiler-dev,
               libignition-math7-dev,
               libignition-msgs9-dev,
               libignition-plugin2-dev,
               libignition-rendering7-ogre1-dev,
               libignition-tools2-dev,
               libignition-transport12-dev,
               libignition-utils2-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libtinyxml2-dev,
               pkg-config,
               qml-module-qt-labs-folderlistmodel,
               qml-module-qt-labs-platform,
               qml-module-qt-labs-settings,
               qml-module-qtcharts,
               qml-module-qtgraphicaleffects,
               qml-module-qtqml-models2,
               qml-module-qtquick-controls,
               qml-module-qtquick-controls2,
               qml-module-qtquick-dialogs,
               qml-module-qtquick-layouts,
               qml-module-qtquick-templates2,
               qml-module-qtquick-window2,
               qml-module-qtquick2,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev
Vcs-Browser: https://github.com/gazebosim/gz-gui
Vcs-Git: https://github.com/gazebo-release/gz-gui7-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-gui7
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: libignition-gui7 (<< 6.999.999+nightly+git20220629)
Replaces: libignition-gui7 (<< 6.999.999+nightly+git20220629)
Multi-Arch: same
Description: Gazebo Gui classes and functions for robot apps - Shared library
 Gazebo Gui is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the main libraries

Package: libgz-gui7-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake3-dev,
         libignition-common5-events-dev,
         libignition-common5-profiler-dev,
         libgz-gui7 (= ${binary:Version}),
         libignition-math7-dev,
         libignition-msgs9-dev,
         libignition-plugin2-dev,
         libignition-rendering7-ogre1-dev,
         libignition-tools2-dev,
         libignition-transport12-dev,
         libignition-utils2-dev,
         libprotobuf-dev,
         libprotoc-dev,
         libtinyxml2-dev,
         qml-module-qt-labs-folderlistmodel,
         qml-module-qt-labs-platform,
         qml-module-qt-labs-settings,
         qml-module-qtcharts,
         qml-module-qtgraphicaleffects,
         qml-module-qtqml-models2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-dialogs,
         qml-module-qtquick-layouts,
         qml-module-qtquick-templates2,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         qtbase5-dev,
         qtdeclarative5-dev,
         qtquickcontrols2-5-dev,
         ${misc:Depends}
Breaks: libignition-gui7-dev (<< 6.999.999+nightly+git20220629)
Replaces: libignition-gui7-dev (<< 6.999.999+nightly+git20220629)
Multi-Arch: same
Description: Gazebo Gui classes and functions for robot apps - Development files
 Gazebo Gui is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package for development libraries and headers.

Package: libignition-gui7
Depends: libgz-gui7, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-gui7-dev
Depends: libgz-gui7-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
